body {
  font-family: 'Open Sans';
  font-size: 20px; }

body, html {
  height: 100%;
  color: black;
  line-height: 1.8; }

body {
  margin: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*Menu Styles*/
.navbar li a:hover {
  font-size: 30px;
  font-weight: bold; }

.navbar {
  width: 20%;
  margin: 4% auto; }

.navbar li {
  /*float: left;*/
  padding: 6px;
  list-style: none;
  margin: 20px;
  font-size: 25px;
  background-color: #6f04a7; }

.navbar li a {
  text-decoration: none;
  color: white; }

.title {
  font-family: 'Great Vibes';
  font-size: 3.5em;
  color: #6f04a7;
  text-align: center;
  margin: 0;
  padding-top: 40px; }

.name {
  color: white;
  display: inline;
  margin-left: 50px;
  font-size: 30px;
  font-weight: 0; }

.menu ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 20px; }

.menu {
  background-color: #6f04a7; }

/*Parallax Effect*/
.background_2, .background_3 {
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Bacground 1 */
.background_1 {
  height: 816px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/image.jpg"); }

/*About me*/
.about {
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px; }

.bg_about {
  background-color: #6f04a7; }

.rightText, .photo, .leftText {
  float: left;
  width: 33%; }

.photo {
  text-align: center; }

.photo img {
  width: 60%;
  margin: 0 auto; }

/* Second image */
.background_2 {
  background-image: url("../img/banner2.jpg");
  min-height: 600px; }

/*Projects*/
#projects {
  padding-top: 30px;
  padding-bottom: 30px; }

.subtitles {
  text-align: center;
  font-size: 35px;
  margin: 0;
  font-weight: bold; }

.texts {
  width: 60%;
  margin: 0 auto; }

.texts p {
  margin: 0; }

.my_projects {
  margin: 0 auto;
  max-width: 60%;
  text-align: center; }

.projects_list {
  margin: 0 auto;
  padding: 0; }

.projects_list li + li {
  margin-left: 40px; }

.project {
  list-style: none;
  display: inline; }

.project img {
  max-width: 25%;
  max-height: 30%;
  margin-top: 40px; }

.icons {
  margin: 0; }

.icon_link img {
  max-width: 2%; }

.icons li {
  list-style: none;
  display: inline; }

.icons li + li {
  margin-left: 308px; }

/* Third image */
.background_3 {
  background-image: url("../img/banner2.jpg");
  min-height: 400px; }

/* Parallax */
@media only screen and (max-width: 1024px) {
  .background_1, .background_2, .background_3 {
    background-attachment: scroll; } }
.skills {
  margin-bottom: 200px;
  background-color: #6f04a7; }

.contact {
  margin-bottom: 100px; }

.email {
  text-align: center; }

.email p {
  margin: 0; }

.email img {
  max-width: 25%; }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/*Skills*/
.skills {
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px; }

.my_skills {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  padding-left: 214px; }

.my_skills li {
  list-style: none;
  display: inline-block;
  width: 20%;
  margin: 0 auto; }

.my_skills li p {
  max-width: 100%;
  margin: 0;
  margin-top: 10px; }

.my_skills li h2 {
  margin: 0; }

.my_skills li + li {
  margin-left: 155px; }

.skills_list {
  width: 80%;
  margin: 0 auto; }

.footer {
  background-color: #6f04a7;
  height: 200px; }

/*# sourceMappingURL=main.css.map */
